@use "./partials/variables" as *;

@import "node_modules/bootstrap/scss/bootstrap";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.wrapper{
    padding: 1rem;
    width: 100%;
    background-color: rgb(26, 26, 33);
}

.container{
    width: 80%;
    margin: 0 auto;
}